@* <div class="menu">
        <div class="main-menu">
            <div class="scroll">
                <ul class="list-unstyled">
                    <li class="active">
                        <a href="Admin/home/index">
                            <i class="iconsminds-shop-4"></i>
                            <span>پیشخوان</span>
                        </a>
                    </li>
                    <li>
                        <a href="Admin/home/users">
                            <i class="iconsminds-digital-drawing"></i> کاربر
                        </a>
                    </li>
                    <li>
                        <a href="Admin/home/pazirande">
                            <i class="iconsminds-air-balloon-1"></i> پذیرنده
                        </a>
                    </li>
                    <li>
                        <a href="Admin/home/support">
                            <i class="iconsminds-support"></i> پشتیبانی
                        </a>
                    </li>
                    <li>
                        <a href="Admin/home/Learn">
                            <i class="simple-icon-question"></i> سوالات متدوال
                        </a>
                    </li>
                     <li>
                        <a href="Admin/home/exit">
                            <i class="iconsminds-power-3"></i> خروج
                        </a>
                    </li>

                </ul>
            </div>
        </div>


    </div> *@