@{
    ViewData["Title"] = "اپلود مدارک";
}

@using Extensions;
@using hampadco.Models; 
@model ViewModelLayer.Portal.Vm_Pazirande;

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"> تکمیل اطلاعات  </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div>
  
        @if(ViewBag.msg != null)
        {
            <div class="row">
                <div class="container-fluid">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4 text-danger"> @ViewBag.msg </h5>
                            <a href="/Pazirande/No" class="btn btn-success mt-3" style="width: min-content;">
		    		            بازگشت
		    	            </a>
                        </div>
                    </div> 
                </div>   
            </div>  
        }
  
        @if(ViewBag.er != null)
        {
            <div class="row">
                <div class="container-fluid">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4 text-danger"> @ViewBag.er </h5>
                            <a href="/Pazirande/No" class="btn btn-success mt-3" style="width: min-content;">
		    		            بازگشت
		    	            </a>
                        </div>
                    </div> 
                </div>   
            </div>  
        }

        @if (ViewBag.ex != null )
        {
            <p class="d-none">
                @ViewBag.ex
            </p>
        }


        @if (ViewBag.Pazirande != null)
        {
            <div class="row">
                <div class="container-fluid">
                    <div class="card mb-4">
                        <div class="card-body">
                            <Form method="POST" action="/Pazirande/ViewDetailsRad" enctype="multipart/form-data">
                                @if (ViewBag.Pazirande != null)
                                {
                                    foreach (var item in ViewBag.Pazirande)
                                    {
                                        if (item.Type_Moshtari == "حقیقی" && item.Pazirande_Atba ==  false)
                                        {                                            
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد ملی</label>
                                                    <input type="text" class="form-control" asp-for="Code_Meli">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">شماره شناسنامه </label>
                                                    <input type="text" class="form-control" asp-for="Shomare_Shenasname">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام</label>
                                                    <input type="text" class="form-control" asp-for="Name">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام خانوادگی</label>
                                                    <input type="text" class="form-control" asp-for="Family">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تاریخ تولد </label>
                                                    <input type="text" class="form-control" asp-for="tarikh_tavalod">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام پدر</label>
                                                    <input type="text" class="form-control" asp-for="Name_Pedar">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">جنسیت</label>
                                                    <input type="text" class="form-control" asp-for="Jensiat">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تلفن همراه</label>
                                                    <input type="text" class="form-control" asp-for="Mobile">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">آدرس</label>
                                                    <input type="text" class="form-control" asp-for="Address">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Name_EN">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام خانوادگی لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Family_EN">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام پدر لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Pedar_EN">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد پستی</label>
                                                    <input type="text" class="form-control" asp-for="Code_Posti">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تلفن</label>
                                                    <input type="text" class="form-control" asp-for="TelePhone">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">شهرستان</label>
                                                    <input type="text" class="form-control" asp-for="Mantage_Shahri">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">منطقه شهری</label>
                                                    <input type="text" class="form-control" asp-for="Mantage_Shahri" >
                                                </div>
                                            </div>
                                            <hr>
                                        }
                                        else if (item. Type_Moshtari == "حقوقی" && item.Pazirande_Atba == false)
                                        {
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد ملی</label>
                                                    <input type="text" class="form-control" asp-for="Code_Meli">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">شماره شناسنامه </label>
                                                    <input type="text" class="form-control" asp-for="Shomare_Shenasname">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام</label>
                                                    <input type="text" class="form-control" asp-for="Name">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام خانوادگی</label>
                                                    <input type="text" class="form-control" asp-for="Family">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تاریخ تولد </label>
                                                    @* @{ string birthday = item.BirthDay.ToPersianDateString();} *@
                                                    <input type="text" class="form-control" asp-for="Tarikh_Tavalod">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام پدر</label>
                                                    <input type="text" class="form-control" asp-for="Name_Pedar">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">جنسیت</label>
                                                    <input type="text" class="form-control" asp-for="Jensiat">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تلفن همراه</label>
                                                    <input type="text" class="form-control" asp-for="Mobile">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">آدرس</label>
                                                    <input type="text" class="form-control" asp-for="Address">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Name_EN">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام خانوادگی لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Family_EN">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام پدر لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Pedar_EN">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد پستی</label>
                                                    <input type="text" class="form-control" asp-for="Code_Posti">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تلفن</label>
                                                    <input type="text" class="form-control" asp-for="TelePhone">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">شهرستان</label>
                                                    <input type="text" class="form-control" asp-for="Code_Shaparaki_shahr">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">منطقه شهری</label>
                                                    <input type="text" class="form-control" asp-for="Mantage_Shahri" >
                                                </div>
                                            </div>
                                            <hr>   
                                            <div class="form-row mt-2">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام شرکت</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="نام شرکت" asp-for="Name_Sherkat">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">نام لاتین شرکت</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="نام لاتین شرکت" asp-for="Name_EN_Sherkat">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام تجاری</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="نام تجاری" asp-for="Name_Tejari">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">تاریخ تاسیس شرکت</label>
                                                    <input type="text" class="form-control"  
                                                        placeholder="تاریخ تاسیس شرکت (1378/10/01)" asp-for="Tarikh_Tasis_Sherkat">
                                                </div>
                                            </div>
                                            <hr>   
                                            <div class="form-row mt-2">
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">شماره ثبت شرکت</label>
                                                    <input type="number" class="form-control" 
                                                        placeholder="شماره ثبت شرکت" asp-for="Shomare_Sabt">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">کد اقتصادی</label>
                                                    <input type="number" class="form-control" 
                                                        placeholder="کد اقتصادی" asp-for="Code_Egtesadi">
                                                </div>
                                            </div>
                                            <hr>
                                        }
                                        @* else if (item. Type_Moshtari == "حقیقی" && item.Pazirande_Atba ==false)
                                        {
		    				                <input class="d-none" asp-for="Code_Meli" >
		    				                <input class="d-none" asp-for="Pazirande_Atba" asp-for="1">
                                    
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام</label>
                                                    <input type="text" class="form-control" asp-for="Name">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام خانوادگی</label>
                                                    <input type="text" class="form-control" asp-for="Family">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام پدر</label>
                                                    <input type="text" class="form-control" asp-for="Name_Pedar">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">جنسیت</label>
                                                    <input type="text" class="form-control" asp-for="Jensiat">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تاریخ تولد </label>
                                                    <input type="text" class="form-control" asp-for="Tarikh_Tavalod">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تلفن</label>
                                                    <input type="text" class="form-control" asp-for="TelePhone">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تلفن همراه</label>
                                                    <input type="text" class="form-control" asp-for="Mobile">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد پستی</label>
                                                    <input type="text" class="form-control" asp-for="Code_Posti">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">آدرس</label>
                                                    <input type="text" class="form-control" asp-for="Address">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Name_EN">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام خانوادگی لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Family_EN">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام پدر لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Pedar_EN">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد شاپرکی شهر</label>
                                                    <input    class="form-control" type="number" asp-for="Code_Shaparaki_shahr">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">منطقه شهری</label>
                                                    <input type="text" class="form-control" asp-for="Mantage_Shahri" >
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row mt-2">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد فراگیر اتباع خارجی</label>
                                                    <input type="number" class="form-control" 
                                                        placeholder="کد فراگیر اتباع خارجی" asp-for="Code_Faragir">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد گذرنامه</label>
                                                    <input type="number" class="form-control"
                                                        placeholder="کد گذرنامه" asp-for="Code_Gozarname">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">ملیت</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="ملیت" asp-for="Melyat">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">تاریخ اعتبار گذرنامه</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="تاریخ اعتبار گذرنامه (1378/10/01)" asp-for="Tarikh_Etbar">
                                                </div>
                                            </div>
                                            <hr>
                                        } *@
                                        @* else if (item. Type_Moshtari == "حقوقی" && item.Pazirande_Atba == false)
                                        {
		    				                <input class="d-none" asp-for="Code_Meli"  >
		    				                <input class="d-none" asp-for="Pazirande_Atba" asp-for="1">
                                    
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام</label>
                                                    <input type="text" class="form-control" asp-for="Name">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام خانوادگی</label>
                                                    <input type="text" class="form-control" asp-for="Family">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام پدر</label>
                                                    <input type="text" class="form-control" asp-for="Name_Pedar">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">جنسیت</label>
                                                    <input type="text" class="form-control" asp-for="Jensiat">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تاریخ تولد </label>
                                                    <input type="text" class="form-control" asp-for="Tarikh_Tavalod">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تلفن</label>
                                                    <input type="text" class="form-control" asp-for="TelePhone">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">تلفن همراه</label>
                                                    <input type="text" class="form-control" asp-for="Mobile">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد پستی</label>
                                                    <input type="text" class="form-control" asp-for="Code_Posti">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">آدرس</label>
                                                    <input type="text" class="form-control" asp-for="Address">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Name_EN">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام خانوادگی لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Family_EN">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام پدر لاتین</label>
                                                    <input type="text" class="form-control" asp-for="Pedar_EN">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">شهرستان</label>
                                                    <input type="text" class="form-control" asp-for="Code_Shaparaki_shahr">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">منطقه شهری</label>
                                                    <input type="text" class="form-control" asp-for="Mantage_Shahri" >
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row mt-2">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد فراگیر اتباع خارجی</label>
                                                    <input type="number" class="form-control"
                                                        placeholder="کد فراگیر اتباع خارجی" asp-for="Code_Faragir">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">کد گذرنامه</label>
                                                    <input type="number" class="form-control" 
                                                        placeholder="کد گذرنامه" asp-for="Code_Gozarname">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">ملیت</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="ملیت" asp-for="Melyat">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">تاریخ اعتبار گذرنامه</label>
                                                    <input type="text" class="form-control"  
                                                        placeholder="تاریخ اعتبار گذرنامه (1378/10/01)" asp-for="Tarikh_Etbar">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row mt-2">
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام شرکت</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="نام شرکت" asp-for="Name_Sherkat">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">نام لاتین شرکت</label>
                                                    <input type="text" class="form-control"  
                                                        placeholder="نام لاتین شرکت" asp-for="Name_EN_Sherkat">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputEmail4">نام تجاری</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="نام تجاری" asp-for="Name_Tejari">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">تاریخ تاسیس شرکت</label>
                                                    <input type="text" class="form-control" 
                                                        placeholder="تاریخ تاسیس شرکت (1378/10/01)" asp-for="Tarikh_Tasis_Sherkat">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-row mt-2">
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">شماره ثبت شرکت</label>
                                                    <input type="number" class="form-control" 
                                                        placeholder="شماره ثبت شرکت" asp-for="Shomare_Sabt">
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <label for="inputPassword4">کد اقتصادی</label>
                                                    <input type="number" class="form-control"
                                                        placeholder="کد اقتصادی" asp-for="Code_Egtesadi">
                                                </div>
                                            </div>
                                            <hr>
                                        } *@
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">شناسه بانکی</label>
                                                <input type="text" class="form-control" asp-for="Shenase_Bank" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">کد شعبه </label>
                                                <input type="text" class="form-control" asp-for="Code_Shobe" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">شماره حساب</label>
                                                <input type="text" class="form-control" asp-for="Shomare_Hesab">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">شماره شبا</label>
                                                <input type="text" class="form-control" asp-for="Shomare_Sheba" >
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">شماره فکس</label>
                                                <input type="text" class="form-control" asp-for="Fax" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">صنف</label>
                                                <input type="text" class="form-control" asp-for="Code_Takmily_Senf" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">عنوان محل کسب</label>
                                                <input type="text" class="form-control" asp-for="Onvan_Mahal_Kasb" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">عنوان لاتین محل کسب</label>
                                                <input type="text" class="form-control" asp-for="Onvan_Latin_Kasb" >
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">نوع مالکیت </label>
                                                <select required class="form-control" asp-for="Shenase_Malekyat" >
                                                    <option></option>
                                                    <option value="1361">شخصی</option>
                                                    <option value="1362">استیجاری</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">ادرس لاتین</label>
                                                <input type="text" class="form-control" asp-for="Address_Latin" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">نوع محل کسب</label>
                                                <select required class="form-control" asp-for="Shenase_Mahal_kasb" >
                                                    <option></option>
                                                    <option value="1359">تجاری</option>
                                                    <option value="1360">مسکونی</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">شماره جواز کسب</label>
                                                <input type="text" class="form-control" asp-for="Shomare_Javaz_kasb" >
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">مرجع صادر کننده مجوز فعالیت</label>
                                                <input type="text" class="form-control" asp-for="Marja_Saderkonande_Mojavez" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">تارخ صدور جواز کسب</label>
                                                <input type="text" class="form-control" asp-for="Tarikh_Sodor_Javaz">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">تاریخ پایان جواز کسب</label>
                                                <input type="text" class="form-control" asp-for="Tarikh_Payan_Etebar" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">شماره قرارداد اجاره </label>
                                                <input  type="text" class="form-control" asp-for="Shomare_Garardad_Ejare" >
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">تاریخ اتمام اجاره</label>
                                                <input  type="text" class="form-control" asp-for="Tarikh_Etmam_Ejare" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">کد رهگیری ثبت نام مالیاتی</label>
                                                <input type="text" class="form-control" asp-for="Code_Rahgiri">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">نوع قرارداد حساب</label>
                                                <input   class="form-control" asp-for="Type_Garardad_Hesab" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">نوع واگذاری دستگاه</label>
                                                <select required class="form-control" asp-for="Shenase_Type_Vagozari" >
                                                    <option></option>
                                                    <option value="3412">قسطی</option>
                                                    <option value="4624">امانی بدون ودیعه</option>
                                                    <option value="4625">امانی با اخذ ودیعه</option>
                                                    <option value="4626">قطعی (فروش)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-row">
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">نوع ودیعه</label>
                                                <input   class="form-control" asp-for="Type_Vadieh">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">مبلغ فروش </label>
                                                <input type="text" class="form-control" asp-for="Mablag_Frosh">
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">شماره سند ودیعه</label>
                                                <input  type="text" class="form-control" asp-for="Shomare_Sanad" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label for="inputEmail4">معرف</label>
                                                <input type="text" class="form-control" asp-for="Moaref" >
                                            </div>
                                            <div class="form-group col-md-3">
                                                <label style="font-weight: bold;" for="inputEmail4">دلیل عدم تایید:</label>
                                                @* <input type="text" class="form-control " asp-for="Description" > *@
                                                <p>Description</p>
                                            </div>
                                        </div>

                                        <input asp-for="Id" value="@item.Id" class="d-none">

                                    }
                                }
                                <a href="/Pazirande/No" class="btn btn-success mt-3" style="width: min-content;">
		    		                بازگشت
		    	                </a>
                                <button type="submit" class="btn btn-primary  mt-3">ثبت</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>