@{
    ViewData["Title"] = "EditUser";
}


@model ViewModelLayer.Portal.Vm_PazirandeUser;

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"> ویرایش کاربر </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div>
        <div class="row">
            <div class="container-fluid">
                <div class="card mb-4">
                    <div class="card-body">
                        @if ( ViewBag.ok != null )
                        {
                            <div class="alert alert-success">
                                <p>
                                    @ViewBag.ok
                                </p>
                            </div>
                        }
                        @if ( ViewBag.er != null )
                        {
                            <div class="alert alert-danger">
                                <p>
                                    @ViewBag.er
                                </p>
                                <p class="d-none">
                                    @ViewBag.ex
                                </p>
                                
                            </div>
                        }
                        <Form method="POST" action="/Account/EditUser" enctype="multipart/form-data">
                        @if ( ViewBag.user != null )
                        {
                            foreach (var item in ViewBag.user)
                            {
                                <input class="d-done" asp-for="Id" value="@item.Id" style="display: none !important;">
                                @if ( item.Customer_Type == "حقیقی" )
                                {
                                    <b class="text-secondary"> اطلاعات شخص حقیقی درخواست کننده : </b>
                                    <div class="form-row mt-2">
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام</label>
                                            <input required type="text" class="form-control" asp-for="Name_fa" placeholder="نام">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام خانوادگی</label>
                                            <input required type="text" class="form-control" asp-for="Family_fa"
                                                placeholder="نام خانوادگی">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">نام پدر</label>
                                            <input required type="text" class="form-control"  asp-for="FatherName_fa"
                                                placeholder="نام پدر">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">شماره شناسنامه</label>
                                            <input required type="number" class="form-control"  asp-for="Certificate_Code" 
                                                placeholder="شماره شناسنامه">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail4">بخش عددی شناسنامه</label>
                                            <input required type="number" class="form-control" asp-for="Certificate_NumSerial"  
                                                placeholder="شماره تلفن همراه">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">بحش حرفی شناسنامه</label>
                                            <input required type="text" class="form-control"  asp-for="Certificate_Letters" 
                                                placeholder="کد ملی">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">سریال شناسنامه</label>
                                            <input required type="number" class="form-control"  asp-for="Certificate_Serial" 
                                                placeholder="محل تولد">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">کد ملی</label>
                                            <input required type="number" class="form-control"   asp-for="National_Code" 
                                                placeholder="کد ملی">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="Education">تحصیلات</label>
                                            <select class="form-control" style="width: 100%;" required asp-for="Education"> 
                                                <option>انتخاب تحصیلات</option>
                                                <option value="زیر دیپلم">زیر دیپلم</option>
                                                <option value="دیپلم">دیپلم</option>
                                                <option value="لیسانس">لیسانس</option>
                                                <option value="فوق لیسانس">فوق لیسانس</option>
                                                <option value="دکتری">دکتری</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-1">
                                            <label for="inputPassword4">محل تولد</label>
                                            <input required type="text" class="form-control"   asp-for="Birth_Place" 
                                                placeholder="محل تولد">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">تاریخ تولد</label>
                                            <input required type="text" class="form-control" asp-for="birthday" 
                                                placeholder="تاریخ تولد (1378/10/01)">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Gender">جنسیت</label>
                                            <select  asp-for="Gender" class="form-control" style="width: 100%;" required>
                                                <option>انتخاب جنسیت</option>
                                                <option value="مرد">مرد</option>
                                                <option value="  زن">زن</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label for="inputPassword4">کد تلفن ثابت</label>
                                            <input required type="number" class="form-control"  asp-for="Phone_Code" 
                                                placeholder="کد تلفن ثابت">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">شماره تلفن ثابت</label>
                                            <input required type="number" class="form-control"  asp-for="Phone" 
                                                placeholder="شماره تلفن ثابت">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">شماره همراه</label>
                                            <input required type="number" class="form-control"  asp-for="Mobile" 
                                                placeholder="شماره همراه">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">ایمیل</label>
                                            <input required type="email" class="form-control" asp-for="Email" 
                                                placeholder="ایمیل">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail4">استان</label>
                                            <input type="text" asp-for="State" style="display: none;">
                                            <select id="ostan" class="form-control" style="width: 100%;"
                                                onchange="Func1(this.value)" required>
                                                <option value="">انتخاب استان</option>
                                                <option value=",اﺳﻜﻮ,اﻳﻠﺨﭽﻲ,ﺳﻬﻨﺪ,اﻫﺮ,هوراند,آذرﺷﻬﺮ,گوگان,ممقان,بستان آباد,ﺗﻴﻜﻤﻪ داش,بناب,ﺑﺎﺳﻤﻨﺞ,ﺗﺒﺮﻳﺰ,خسروشهر,سردرود,ﺟﻠﻔﺎ,ﺳﻴﻪ رود,هادیشهر,قره آغاج,خمارلو,دوزدوزان,سراب,شربیان,مهربان,تسوج,ﺧﺎﻣﻨﻪ,ﺳﻴﺲ,ﺷﺒﺴﺘﺮ,ﺷﺮﻓﺨﺎﻧﻪ,شندآباد,صوفیان,کوزه کنان,وایقان,ﻋﺠﺐ ﺷﻴﺮ,آﺑﺶ اﺣﻤﺪ,ﻛﻠﻴﺒﺮ,خداجو,مراغه,بناب جدید,زنوز,کشکسرای,ﻣﺮﻧﺪ,ﻳﺎﻣﭽﻲ,لیلان,ملکان,آﻗﻜﻨﺪ,ترک,ترکمن چای,ﻣﻴﺎﻧﻪ,ﺑﺨﺸﺎﻳﺶ,خواجه,زرنق,کلوانق,ﻫﺮﻳﺲ,نظرکهریزی,هشترود,خاروانا,ورزقان">آذربایجان شرقی</option>
                                                <option value=",اروﻣﻴﻪ,سرو,سیلوانه,ﻗﻮﺷﭽﻲ,ﻧﻮﺷﻴﻦ,اﺷﻨﻮﻳﻪ,نالوس,بوکان,ﺳﻴﻤﻴﻨﻪ,ﭘﻠﺪﺷﺖ,نازک علیا,پیرانشهر,گردکشانه,تکاب,آواﺟﻴﻖ,ﺳﻴﻪ ﭼﺸﻤﻪ,قره ضیاء الدین,ایواوغلی,خوی,دیزج دیز,زرآباد,فیرورق,قطور,رﺑﻂ,سردشت,میرآباد,تازه شهر,سلماس,ﺷﺎﻫﻴﻦ دژ ,کشاورز,محمود آباد,شوط,ﻣﺮﮔﻨﻠﺮ,بازرگان,ﻣﺎﻛﻮ,خلفیان,مهاباد,باروق,چهاربرج,میاندوآب,محمدیار,نقده">آذربایجان غربی</option>
                                                <option value=",اردﺑﻴﻞ,ﻫﻴﺮ,ﺑﻴﻠﻪ ﺳﻮار,جعفرآباد,اصلاندوز,پارس آباد,تازه کند,خلخال,کلور,ﻫﺸﺘﺠﻴﻦ,ﺳﺮﻋﻴﻦ,گیوی,تازه کندانگوت,ﮔﺮﻣﻲ,رﺿﻲ,نجف آباد,لاهرود,مرادلو,ﻣﺸﮕﻴﻦ ﺷﻬﺮ,آﺑﻲ ﺑﻴﮕﻠﻮ,عنبران,ﻧﻤﻴﻦ,کوراییم,ﻧﻴﺮ">اردبیل</option>
                                                <option value=",اردستان ,زواره ,مهاباد,اژﻳﻪ,اصفهان ,بهارستان,تودشک,حسن آباد,خوراسگان,سگزی,ﻛﻮﻫﭙﺎﻳﻪ,محمدآباد,نصرآباد,نیک آباد,ﻫﺮﻧﺪ,ورزﻧﻪ,ابوزیدآباد,آران وﺑﻴﺪﮔﻞ,ﺳﻔﻴﺪﺷﻬﺮ,نوش آباد,حبیب آباد,خورزوق,دستگرد,دولت آباد,شاپور آباد,ﻛﻤﺸﭽﻪ,تیران,رضوانشهر,عسگران,چادگان ,رزوه,ﺧﻤﻴﻨﻲ ﺷﻬﺮ,درﭼﻪ,ﻛﻮﺷﻚ,خوانسار,جندق,خور,ﻓﺮﺧﻲ,دهاقان,ﮔﻠﺸﻦ,ﺣﻨﺎ,سمیرم,ﻛﻤﻪ,وﻧﻚ,ﺷﺎﻫﻴﻦ ﺷﻬﺮ,گرگاب,گزبرخوار,لای بید,ﻣﻴﻤﻪ,وزوان ,ﺷﻬﺮﺿﺎ,ﻣﻨﻈﺮﻳﻪ,اﻓﻮس ,ﺑﻮﻳﻴﻦ وﻣﻴﺎﻧﺪﺷﺖ,د اران ,داﻣﻨﻪ,برف انبار,فریدونشهر,اﺑﺮﻳﺸﻢ,اﻳﻤﺎﻧﺸﻬﺮ,بهاران شهر,پیربکاران,فلاورجان,قهدریجان,کلیشادوسودرجان,بزرک,جوشقان و کامو,ﻗﻤﺼﺮ,کاشان,مشکات,ﻧﻴﺎﺳﺮ,گلپایگان,ﮔﻠﺸﻬﺮ,ﮔﻮﮔﺪ,باغ بهادران,ﭼﺮﻣﻬﻴﻦ,چمگردان,زاینده رود,زرﻳﻦ ﺷﻬﺮ,سده لنجان,فولادشهر,ورنامخواست,دﻳﺰﻳﭽﻪ,زﻳﺒﺎﺷﻬﺮ,ﻃﺎﻟﺨﻮﻧﭽﻪ,ﻛﺮﻛﻮﻧﺪ,مبارکه,ﻣﺠﻠﺴﻲ,انارک,بافران,نایین,جوزدان,دﻫﻖ,ﻋﻠﻮﻳﺠﻪ,ﻛﻬﺮﻳﺰﺳﻨﮓ,ﮔﻠﺪﺷﺖ,نجف آباد,بادرود,خالدآباد,ﻧﻄﻨﺰ">اصفهان</option>
                                                <option value=",چهارباغ,شهر جدید هشتگرود,کوهسار,گلسار,هشتگرد,طالقان,اشتهارد,آسارا,کرج,کمال شهر,گرمدره,ماهدشت,ﻣﺤﻤﺪﺷﻬﺮ,ﻣﺸﻜﻴﻦ دﺷﺖ,تنکمان,نظرآباد ,فردیس">البرز</option>
                                                <option value=",ایلام,چوار,ایوان,زرنه,آبدانان,سراب باغ,مورموری,بدره,دره شهر,ﭘﻬﻠﻪ,دهلران,موسیان,میمه,آسمان آباد,توحید,سرابله,لومار,ارکواز,دﻟﮕﺸﺎ,صالح آباد,مهران">ایلام</option>
                                                <option value=",بوشهر,چغادک,خارک,اهرم,دلوار,انارستان,ﺟﻢ,رﻳﺰ,آب ﭘﺨﺶ,برازجان,ﺗﻨﮓ ارم ,داﻟﻜﻲ,سعدآباد,شبانکاره,ﻛﻠﻤﻪ,وﺣﺪﺗﻴﻪ,خورموج,ﺷﻨﺒﻪ,کاکی,آبدانان,بردخون,بردستان,بندردیلم,امام حسن,بندر دیلم,بندر کنگان,بنک,سیراف,ﻋﺴﻠﻮﻳﻪ,ﻧﺨﻞ ﺗﻘﻲ,بندرریگ,بندر گناوه">بوشهر</option>
                                                <option value=",اﺳﻼﻣﺸﻬﺮ,چهاردانگه,صالح آباد,گلستان,ﻧﺴﻴﻢ ﺷﻬﺮ,ﭘﺎﻛﺪﺷﺖ,شریف آباد,فرون آباد,پیشوا,بومهن,پردیس,تهران,آبسرد,آﺑﻌﻠﻲ,دماوند,رودهن,گیلان,رباط کریم,نصیرشهر,ﺑﺎﻗﺮﺷﻬﺮ,حسن آباد,کهریزک,فشم,لواسان,اﻧﺪﻳﺸﻪ,باغستان,ﺷﺎﻫﺪﺷﻬﺮ,شهریار,ﺻﺒﺎﺷﻬﺮ,فردوسیه,وﺣﻴﺪﻳﻪ,ارﺟﻤﻨﺪ,فیروزکوه,قدس,صفادشت,ملارد,جوادآباد,ﻗﺮﭼﻚ,وراﻣﻴﻦ,ﺷﻬﺮﺟﺪﻳﺪﭘﺮﻧﺪ,ري,ﺷﻤﺸﻚ">تهران</option>
                                                <option value=",اردل,بروجن,بلداجی,سفیددشت,فرادنبه,گندمان,نقنه,بن,سامان,سودجان,سورشجان,شهرکرد,طاقانک,فرخ شهر,کیان,نافچ,هفشجان,وردنجان,باباحیدر,پردنجان,جونقان,فارسان,چلگرد,دستنا,شلمزار,گهرو,ناغان,آلونی,لردگان,مال خلیفه,منج,دشتک,سرخون,کاج,گوجان,چلیچه,صمصامی,بازفت">چهارمحال و بختیاری</option>
                                                <option value=",ارسک,بشرویه,بیرجند,خوسف,محمدشهر,اسدیه,طبس مسینا,قهستان,گزیک,آیسک,سرایان,سه قلعه,سربیشه,مود,اسلامیه,فردوس,اسفدن,آرین شهر,حاجی آباد,خضری دشت بیاض,زهان,ﻗﺎﻳﻦ,نیمبلوک,شوسف,نهبندان,دیهوک,طبس,عشق آباد">خراسان جنوبی</option>
                                                <option value=",باخرز,بجستان,یونسی,انابد,بردسکن,شهرآباد,شاندیز,طرقبه,تایباد,کاریز,مشهدریزه,فیروزه,همت آباد,احمد آباد صولت,تربت جام,صالح آباد,نصرآباد,نیل شهر,بایک,تربت حیدریه,رباط سنگ,کدکن,جغتای,نقاب,چناران,گلمکان,خلیل آباد,کندر,خواف,سلامی,سنگان,قاسم آباد,نشتیفان,سلطان آباد,ﭼﺎﭘﺸﻠﻮ,درﮔﺰ,لطف آباد,نوخندان,ﺟﻨﮕﻞ,رشتخوار,دولت آباد,داورزن,روداب,سبزوار,ششتمد,سرخس,مزدآوند,سفیدسنگ,فرهادگرد,فریمان,قلندرآباد,باجگیران,قوچان,ریواش,کاشمر,شهرزو,کلات,بیدخت,کاخک,گناباد,رضویه,مشهد,ﻣﺸﻬﺪ ﺛﺎﻣﻦ,ملک آباد,شادمهر,فیض آباد,بار,چنگه,خرو,درود,عشق آباد,قدمگاه,نیشابور">خراسان رضوی</option>
                                                <option value=",اسفراین,صفی آباد,بجنورد,حصار گرمخوان,راز ,جاجرم,سنخواست,شوقان,شوقان,ﻟﻮﺟﻠﻲ,ﺗﻴﺘﻜﺎﻧﻠﻮ,فاروج,ایور,درق,ﮔﺮﻣﻪ,آﺷﺨﺎﻧﻪ,ﭘﻴﺶ ﻗﻠﻌﻪ,ﻗﺎﺿﻲ">خراسان شمالی</option>
                                                <option value=",اﻣﻴﺪﻳﻪ,جایزان,ﻗﻠﻌﻪ ﺧﻮاﺟﻪ,اندیمشک,ﺣﺴﻴﻨﻴﻪ,اهواز,ﺣﻤﻴﺪﻳﻪ,ایذه,دهدز,اروندکنار,آبادان,چویبده,باغ ملک,صیدون,ﻗﻠﻌﻪ ﺗﻞ,میداود,شیبان,ملاثانی,وﻳﺲ,بندر امام خمینی,بندر ماهشهر,چمران,آغاجاری,بهبهان,سردشت,خرمشهر,مینوشهر,ﭼﻐﺎﻣﻴﺶ,حمزه,دزآب,دزفول,سالند,صفی آباد,میانرود,بستان,سوسنگرد,رامشیر,مشراگه,رامهرمز,دارﺧﻮﻳﻦ,شادگان,الوان,ﺣﺮ,شاوور,شوش,ﺻﺎﻟﺢ ﻣﺸﻄﺖ,شرافت,ﺷﻮﺷﺘﺮ,گوریه,ﺗﺮﻛﺎﻟﻜﻲ,ﺟﻨﺖ ﻣﻜﺎن,ﺳﻤﺎﻟﻪ,ﺻﺎﻟﺢ ﺷﻬﺮ,ﮔﺘﻮﻧﺪ,ﻻﻟﻲ,مسجد سلیمان,ﻫﻔﺘﮕﻞ,زهره,هندیجان,رﻓﻴﻊ,هویزه">خوزستان</option>
                                                <option value=",ابهر,ﺳﻠﻄﺎﻧﻴﻪ,ﺻﺎﻳﻴﻦ ﻗﻠﻌﻪ,هیدج,حلب,زرین آباد,زرین رود,سجاس,سهرورد,قیدار,گرماب,خرمدره,ارﻣﻐﺎﻧﺨﺎﻧﻪ,زنجان,آب ﺑﺮ,چورزق,دندی,ماه نشان">زنجان</option>
                                                <option value=",اﻣﻴﺮﻳﻪ,دامغان,دیباج,ﺳﺮﺧﻪ,سمنان,بسطام,بیارجمند,شاهرود,کلاته خیج,ﻣﺠﻦ,ﻣﻴﺎﻣﻲ,اﻳﻮاﻧﻜﻲ,آرادان,گرمسار,درﺟﺰﻳﻦ,شهمیرزاد,مهدی شهر">سمنان</option>
                                                <option value=",ایرانشهر,بزمان,بمپور,محمدان,چابهار,نگور,خاش,نوک آباد,گلمورتی,بنجار,زابل,زاهدان,میرجاوه,نصرت آباد,زهک,جالق,سراوان,سیرکان,گشت,محمدی,پیشین,راسک,سرباز,سوران,هیدوچ,زرآباد,کنارک,زاﺑﻠﻲ,اﺳﭙﻜﻪ,ﺑﻨﺖ,فنوج,ﻗﺼﺮﻗﻨﺪ,ﻧﻴﻚ ﺷﻬﺮ,ادﻳﻤﻲ,ﻋﻠﻲ اﻛﺒﺮ,محمد آباد,دوﺳﺖ ﻣﺤﻤﺪ">سیستان و بلوچستان</option>
                                                <option value=",ارسنجان,استهبان,ایج,روﻧﻴﺰ,اﻗﻠﻴﺪ,حسن آباد,دژکده,سده,ایزدخواست,آباده,ﺑﻬﻤﻦ,سورمق,صغاد,بوانات,ﺣﺴﺎﻣﻲ,کره ای,سعادت شهر,باب انار,جهرم,خاوران,دوزه ,قطب آباد,خرامه,ﺻﻔﺎﺷﻬﺮ,قادرآباد,ﺧﻨﺞ,ﺟﻨﺖ ﺷﻬﺮ,داراب,دوﺑﺮﺟﻲ,فدامی,مصیری,حاجی آباد,دبیران,ﺷﻬﺮﭘﻴﺮ,اردکان,ﺑﻴﻀﺎ,ﻫﻤﺎﺷﻬﺮ,سروستان,کوهنجان,خاله زنیان,داریان,زرقان,شهرصدرا,شیراز,ﻟﭙﻮﻳﻲ,دهرم,فراشبند,ﻧﻮﺟﻴﻦ,زاﻫﺪﺷﻬﺮ,ششده,ﻓﺴﺎ,نوبندگان,فیروزآباد,ﻣﻴﻤﻨﺪ,افزر,امام شهر,قیر,کارزین,مبارک آباددیز,بالاده,ﺧﺸﺖ,ﻗﺎﻳﻤﻴﻪ,کازرون,کنار تخته,نودان,کوار,گراش,اوز,بنارویه,بیرم,جویم,خور,عمادده,ﻻر,ﻟﻄﻴﻔﻲ,اشکنان,اﻫﻞ,علامرودشت,لامرد,رامجرد,سیدان,کامفیروز,مرودشت,ﺧﻮﻣﻪ زار,نورآباد,اﺳﻴﺮ,ﮔﻠﻪ دار,ﻣﻬﺮ,وراوي,آباده طشک,قطرویه,مشکان,ﻧﻲ رﻳﺰ">فارس</option>
                                                <option value=",الوند,بیدستان,ﺷﺮﻳﻔﻴﻪ ,ﻣﺤﻤﺪﻳﻪ ,آﺑﻴﻚ ,ﺧﺎﻛﻌﻠﻲ,ارداق ,آبگرم,آوج ,بویین زهرا,دانسفهان,سگزآباد,شال,اسفرورین,تاکستان,ﺧﺮﻣﺪﺷﺖ,ضیاءآباد,ﻧﺮﺟﻪ,اﻗﺒﺎﻟﻴﻪ,رازمیان,سیردان,قزوین,ﻛﻮﻫﻴﻦ,محمودآبادنمونه,ﻣﻌﻠﻢ ﻛﻼﻳﻪ">قزوین</option>
                                                <option value=",ﺟﻌﻔﺮﻳﻪ,دستجرد,سلفچگان,ﻗﻢ,قنوات,ﻛﻬﻚ">قم</option>
                                                <option value=",آرمرده,ﺑﺎﻧﻪ,ﺑﻮﻳﻴﻦ ﺳﻔﻠﻲ,ﻛﺎﻧﻲ ﺳﻮر,بابارشانی,بیجار,ﻳﺎﺳﻮﻛﻨﺪ,بلبلان آباد,دهگلان,دیوان دره,زرﻳﻨﻪ,سروآباد,ﺳﻘﺰ,ﺻﺎﺣﺐ,سنندج,ﺷﻮﻳﺸﻪ,دزج ,دلبران,سریش آباد,قروه,کامیاران,ﻣﻮﭼﺶ,چناره,کانی دینار,مریوان">کردستان</option>
                                                <option value=",ارزوﻳﻴﻪ,اﻣﻴﻦ ﺷﻬﺮ,اﻧﺎر,ﺑﺎﻓﺖ,ﺑزنجان,بردسیر,گلزار,ﻻﻟﻪ زار,نگار,براوات,ﺑﻢ,جبالبارز,ﺟﻴﺮﻓﺖ,درب ﺑﻬﺸﺖ,راﺑﺮ,راور ,هجدک,بهرمان,رفسنجان,ﺻﻔﺎﻳﻴﻪ,ﻛﺸﻜﻮﻳﻴﻪ,ﻣﺲ ﺳﺮﭼﺸﻤﻪ,رودبار ,محمدآباد,خانوک,ریحان,زرﻧﺪ,یزدان شهر,پاریز,زیدآباد,سیرجان,ﻧﺠﻒ ﺷﻬﺮ,ﻫﻤﺎ ﺷﻬﺮ,جوزم,خاتون آباد,خورسند,دهج,ﺷﻬﺮﺑﺎﺑﻚ,دوساری,عنبرآباد,مردهک,فاریاب,فهرج,قلعه گنج,اختیارآباد,اندوهجرد,باغین,جوپار,چترود,راﻳﻦ,زنگی آباد,شهداد,کاظم آباد,کرمان,گلباف,ماهان,محی آباد,کهنوج,کوهبنان,ﻛﻴﺎﻧﺸﻬﺮ,منوجان,نودژ,ﻧﺮﻣﺎﺷﻴﺮ,نظام شهر">کرمان</option>
                                                <option value=",اسلام آباد غرب,ﺣﻤﻴﻞ,باینگان,پاوه,نودشه,نوسود,ازﮔﻠﻪ,تازه آباد,جوانرود,ﻛﺮﻧﺪ,گهوار,رواﻧﺴﺮ,ﺷﺎﻫﻮ,سرپل ذهاب,ﺳﻄﺮ,ﺳﻨﻘﺮ,ﺻﺤﻨﻪ,میان راهان,سومار,ﻗﺼﺮﺷﻴﺮﻳﻦ,رباط,کرمانشاه,کوزران,هلشی,کنگاور,ﺳﺮﻣﺴﺖ,گیلانغرب,بیستون,ﻫﺮﺳﻴﻦ">کرمانشاه</option>
                                                <option value=",ﺑﺎﺷﺖ,ﻟﻴﻜﻚ,گراب سلفی,مادوان,مارگون,یاسوج,چرام,پاتاوه,چیتاب,سی سخت,دهدشت,دیشموک,سوق,قلعه رییسی,لنده,دوگنبدان">کهگیلویه و بویراحمد</option>
                                                <option value=",آزادﺷﻬﺮ,ﻧﮕﻴﻦ ﺷﻬﺮ,نوده خاندوز,انبارآلوم,آق ﻗﻼ,بندرگز,نوکنده,بندرترکمن,خان ببین,دلند,رامیان,علی آباد,فاضل آباد,کردکوی,ﻛﻼﻟﻪ,ﮔﺎﻟﻴﻜﺶ ,ﺟﻠﻴﻦ,ﺳﺮﺧﻨﻜﻼﺗﻪ,گرگان,ﺳﻴﻤﻴﻦ ﺷﻬﺮ,ﮔﻤﻴﺶ ﺗﭙﻪ,اﻳﻨﭽﻪ ﺑﺮون,گنبدکاووس,مراوه ,مینودشت ">گلستان</option>
                                                <option value=",اﻣﻠﺶ,رانکوه,آستارا,لوندویل ,آﺳﺘﺎﻧﻪ اﺷﺮﻓﻴﻪ,ﻛﻴﺎﺷﻬﺮ,بندر انزلی,اﺳﺎﻟﻢ,ﺗﺎﻟﺶ,ﭼﻮﺑﺮ,ﺣﻮﻳﻖ,لیسار,خشکبیجار,خمام,رﺷﺖ,ﺳﻨﮕﺮ,کوچصفهان ,ﻟﺸﺖ ﻧﺸﺎ,لولمان ,پره سر,رضوانشهر,بره سر,ﺗﻮﺗﻜﺎﺑﻦ,جیرنده,رﺳﺘﻢ آباد,رودبار,لوشان,ﻣﻨﺠﻴﻞ,ﭼﺎﺑﻜﺴﺮ,رﺣﻴﻢ آﺑﺎد,رودﺳﺮ,کلاچای,واجرگاه,دیلمان,ﺳﻴﺎﻫﻜﻞ,احمدسرگوراب,ﺷﻔﺖ,ﺻﻮﻣﻌﻪ ﺳﺮا,گراب زرمیخ,ﻣﺮﺟﻘﻞ,ﻓﻮﻣﻦ,ﻣﺎﺳﻮﻟﻪ,رودﺑﻨﻪ,لاهیجان,اطاقور,چاف و چمخاله,شلمان,ﻛﻮﻣﻠﻪ,لنگرود,بازارجمعه ,ماسال">گیلان</option>
                                                <option value=",ازﻧﺎ,مومن آباد,الیگودرز,شول آباد,اشترینان,بروجرد ,ﭘﻠﺪﺧﺘﺮ,معمولان ,چغلوندی,خرم آباد,زاﻏﻪ,سپیددشت,نور آباد,ﻫﻔﺖ ﭼﺸﻤﻪ,سراب دوره,ویسیان,چالان چولان,دورود,اﻟﺸﺘﺮ,فیروزآباد,ﭼﻘﺎﺑﻞ,درب ﮔﻨﺒﺪ,کونانی,ﻛﻮﻫﺪﺷﺖ,گراب">لرستان</option>
                                                <option value=",آﻣﻞ,داﺑﻮدﺷﺖ,رﻳﻨﻪ,ﮔﺰﻧﻚ,اﻣﻴﺮﻛﻼ,ﺑﺎﺑﻞ,خوش رودپی,زرﮔﺮﻣﺤﻠﻪ,گتاب,گلوگاه,مرزیکلا,ﺑﺎﺑﻠﺴﺮ,ﺑﻬﻨﻤﻴﺮ,ﻛﻠﻪ ﺑﺴﺖ">مازندران</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label >شهرستان</label>
                                            @* <input type="text" asp-for="City" style="display: none;"> *@
                                            <select asp-for="City" class="form-control" style="width: 100%;" ></select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail4">کد پستی</label>
                                            <input required type="number" class="form-control" asp-for="Post" 
                                                placeholder="کد پستی">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="inputAddress">آدرس</label>
                                            <input type="text" class="form-control" asp-for="Address" placeholder="آدرس">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام لاتین</label>
                                            <input required type="text" class="form-control" asp-for="Name_en" placeholder="نام">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام خانوادگی لاتین</label>
                                            <input required type="text" class="form-control"  asp-for="Family_en"
                                                placeholder="نام خانوادگی">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">نام پدر لاتین</label>
                                            <input required type="text" class="form-control" asp-for="FatherName_en" 
                                                placeholder="نام پدر">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary  mt-3">ثبت</button>
                                }
                                else if ( item.Customer_Type == "حقوقی" )
                                {
                                    <b class="text-secondary"> اطلاعات شخص حقوقی درخواست کننده : </b>
                                    <div class="form-row mt-2">
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام شرکت</label>
                                            <input required type="text" class="form-control" asp-for="CompanyName_fa" placeholder="نام شرکت">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">نام لاتین شرکت</label>
                                            <input required type="text" class="form-control" asp-for="CompanyName_en" 
                                                placeholder="نام لاتین شرکت">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام تجاری</label>
                                            <input required type="text" class="form-control" asp-for="Brand_Name"
                                                placeholder="نام تجاری">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">تاریخ تاسیس شرکت</label>
                                            <input required type="text" class="form-control" asp-for="establishing_date" 
                                                placeholder="تاریخ تاسیس شرکت (1378/10/01)">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail4">شناسه ملی شرکت</label>
                                            <input required type="number" class="form-control" asp-for="Company_Id" 
                                                placeholder="شناسه ملی شرکت">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">شماره ثبت شرکت</label>
                                            <input required type="number" class="form-control" asp-for="Company_Registration" 
                                                placeholder="شماره ثبت شرکت">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">کد اقتصادی</label>
                                            <input required type="number" class="form-control" asp-for="Economic_Code" 
                                                placeholder="کد اقتصادی">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">تلفن ثابت</label>
                                            <input required type="number" class="form-control" asp-for="Phone" 
                                                placeholder="تلفن ثابت">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">کد پستی</label>
                                            <input required type="number" class="form-control" asp-for="Post" 
                                                placeholder="کد پستی">
                                        </div>
                                    </div>
                                    <hr>
                                    <b class="text-secondary"> اطلاعات صاحب امضای اول : </b>
                                    <div class="form-row mt-2">
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام</label>
                                            <input required type="text" class="form-control" asp-for="Name_fa" placeholder="نام">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام خانوادگی</label>
                                            <input required type="text" class="form-control" asp-for="Family_fa"
                                                placeholder="نام خانوادگی">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">نام پدر</label>
                                            <input required type="text" class="form-control" asp-for="FatherName_fa"
                                                placeholder="نام پدر">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">شماره شناسنامه</label>
                                            <input required type="number" class="form-control" asp-for="Certificate_Code" 
                                                placeholder="شماره شناسنامه">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">کد ملی</label>
                                            <input required type="number" class="form-control" asp-for="National_Code" 
                                                placeholder="کد ملی">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">تاریخ تولد</label>
                                            <input required type="text" class="form-control" asp-for="birthday" 
                                                placeholder="تاریخ تولد (1378/10/01)">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Gender">جنسیت</label>
                                            <select asp-for="Gender" class="form-control" style="width: 100%;" required>
                                                <option>انتخاب جنسیت</option>
                                                <option value="مرد">مرد</option>
                                                <option value="  زن">زن</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label for="inputPassword4">کد تلفن ثابت</label>
                                            <input required type="number" class="form-control" asp-for="Phone_Code" 
                                                placeholder="کد تلفن ثابت">
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inputPassword4">شماره همراه</label>
                                            <input required type="number" class="form-control" asp-for="Mobile" 
                                                placeholder="شماره همراه">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <label for="inputEmail4">استان</label>
                                            <input type="text" asp-for="State" style="display: none;">
                                            <select id="ostan" class="form-control" style="width: 100%;"
                                                onchange="Func1(this.value)" required>
                                                <option value="">انتخاب استان</option>
                                                <option value=",اﺳﻜﻮ,اﻳﻠﺨﭽﻲ,ﺳﻬﻨﺪ,اﻫﺮ,هوراند,آذرﺷﻬﺮ,گوگان,ممقان,بستان آباد,ﺗﻴﻜﻤﻪ داش,بناب,ﺑﺎﺳﻤﻨﺞ,ﺗﺒﺮﻳﺰ,خسروشهر,سردرود,ﺟﻠﻔﺎ,ﺳﻴﻪ رود,هادیشهر,قره آغاج,خمارلو,دوزدوزان,سراب,شربیان,مهربان,تسوج,ﺧﺎﻣﻨﻪ,ﺳﻴﺲ,ﺷﺒﺴﺘﺮ,ﺷﺮﻓﺨﺎﻧﻪ,شندآباد,صوفیان,کوزه کنان,وایقان,ﻋﺠﺐ ﺷﻴﺮ,آﺑﺶ اﺣﻤﺪ,ﻛﻠﻴﺒﺮ,خداجو,مراغه,بناب جدید,زنوز,کشکسرای,ﻣﺮﻧﺪ,ﻳﺎﻣﭽﻲ,لیلان,ملکان,آﻗﻜﻨﺪ,ترک,ترکمن چای,ﻣﻴﺎﻧﻪ,ﺑﺨﺸﺎﻳﺶ,خواجه,زرنق,کلوانق,ﻫﺮﻳﺲ,نظرکهریزی,هشترود,خاروانا,ورزقان">آذربایجان شرقی</option>
                                                <option value=",اروﻣﻴﻪ,سرو,سیلوانه,ﻗﻮﺷﭽﻲ,ﻧﻮﺷﻴﻦ,اﺷﻨﻮﻳﻪ,نالوس,بوکان,ﺳﻴﻤﻴﻨﻪ,ﭘﻠﺪﺷﺖ,نازک علیا,پیرانشهر,گردکشانه,تکاب,آواﺟﻴﻖ,ﺳﻴﻪ ﭼﺸﻤﻪ,قره ضیاء الدین,ایواوغلی,خوی,دیزج دیز,زرآباد,فیرورق,قطور,رﺑﻂ,سردشت,میرآباد,تازه شهر,سلماس,ﺷﺎﻫﻴﻦ دژ ,کشاورز,محمود آباد,شوط,ﻣﺮﮔﻨﻠﺮ,بازرگان,ﻣﺎﻛﻮ,خلفیان,مهاباد,باروق,چهاربرج,میاندوآب,محمدیار,نقده">آذربایجان غربی</option>
                                                <option value=",اردﺑﻴﻞ,ﻫﻴﺮ,ﺑﻴﻠﻪ ﺳﻮار,جعفرآباد,اصلاندوز,پارس آباد,تازه کند,خلخال,کلور,ﻫﺸﺘﺠﻴﻦ,ﺳﺮﻋﻴﻦ,گیوی,تازه کندانگوت,ﮔﺮﻣﻲ,رﺿﻲ,نجف آباد,لاهرود,مرادلو,ﻣﺸﮕﻴﻦ ﺷﻬﺮ,آﺑﻲ ﺑﻴﮕﻠﻮ,عنبران,ﻧﻤﻴﻦ,کوراییم,ﻧﻴﺮ">اردبیل</option>
                                                <option value=",اردستان ,زواره ,مهاباد,اژﻳﻪ,اصفهان ,بهارستان,تودشک,حسن آباد,خوراسگان,سگزی,ﻛﻮﻫﭙﺎﻳﻪ,محمدآباد,نصرآباد,نیک آباد,ﻫﺮﻧﺪ,ورزﻧﻪ,ابوزیدآباد,آران وﺑﻴﺪﮔﻞ,ﺳﻔﻴﺪﺷﻬﺮ,نوش آباد,حبیب آباد,خورزوق,دستگرد,دولت آباد,شاپور آباد,ﻛﻤﺸﭽﻪ,تیران,رضوانشهر,عسگران,چادگان ,رزوه,ﺧﻤﻴﻨﻲ ﺷﻬﺮ,درﭼﻪ,ﻛﻮﺷﻚ,خوانسار,جندق,خور,ﻓﺮﺧﻲ,دهاقان,ﮔﻠﺸﻦ,ﺣﻨﺎ,سمیرم,ﻛﻤﻪ,وﻧﻚ,ﺷﺎﻫﻴﻦ ﺷﻬﺮ,گرگاب,گزبرخوار,لای بید,ﻣﻴﻤﻪ,وزوان ,ﺷﻬﺮﺿﺎ,ﻣﻨﻈﺮﻳﻪ,اﻓﻮس ,ﺑﻮﻳﻴﻦ وﻣﻴﺎﻧﺪﺷﺖ,د اران ,داﻣﻨﻪ,برف انبار,فریدونشهر,اﺑﺮﻳﺸﻢ,اﻳﻤﺎﻧﺸﻬﺮ,بهاران شهر,پیربکاران,فلاورجان,قهدریجان,کلیشادوسودرجان,بزرک,جوشقان و کامو,ﻗﻤﺼﺮ,کاشان,مشکات,ﻧﻴﺎﺳﺮ,گلپایگان,ﮔﻠﺸﻬﺮ,ﮔﻮﮔﺪ,باغ بهادران,ﭼﺮﻣﻬﻴﻦ,چمگردان,زاینده رود,زرﻳﻦ ﺷﻬﺮ,سده لنجان,فولادشهر,ورنامخواست,دﻳﺰﻳﭽﻪ,زﻳﺒﺎﺷﻬﺮ,ﻃﺎﻟﺨﻮﻧﭽﻪ,ﻛﺮﻛﻮﻧﺪ,مبارکه,ﻣﺠﻠﺴﻲ,انارک,بافران,نایین,جوزدان,دﻫﻖ,ﻋﻠﻮﻳﺠﻪ,ﻛﻬﺮﻳﺰﺳﻨﮓ,ﮔﻠﺪﺷﺖ,نجف آباد,بادرود,خالدآباد,ﻧﻄﻨﺰ">اصفهان</option>
                                                <option value=",چهارباغ,شهر جدید هشتگرود,کوهسار,گلسار,هشتگرد,طالقان,اشتهارد,آسارا,کرج,کمال شهر,گرمدره,ماهدشت,ﻣﺤﻤﺪﺷﻬﺮ,ﻣﺸﻜﻴﻦ دﺷﺖ,تنکمان,نظرآباد ,فردیس">البرز</option>
                                                <option value=",ایلام,چوار,ایوان,زرنه,آبدانان,سراب باغ,مورموری,بدره,دره شهر,ﭘﻬﻠﻪ,دهلران,موسیان,میمه,آسمان آباد,توحید,سرابله,لومار,ارکواز,دﻟﮕﺸﺎ,صالح آباد,مهران">ایلام</option>
                                                <option value=",بوشهر,چغادک,خارک,اهرم,دلوار,انارستان,ﺟﻢ,رﻳﺰ,آب ﭘﺨﺶ,برازجان,ﺗﻨﮓ ارم ,داﻟﻜﻲ,سعدآباد,شبانکاره,ﻛﻠﻤﻪ,وﺣﺪﺗﻴﻪ,خورموج,ﺷﻨﺒﻪ,کاکی,آبدانان,بردخون,بردستان,بندردیلم,امام حسن,بندر دیلم,بندر کنگان,بنک,سیراف,ﻋﺴﻠﻮﻳﻪ,ﻧﺨﻞ ﺗﻘﻲ,بندرریگ,بندر گناوه">بوشهر</option>
                                                <option value=",اﺳﻼﻣﺸﻬﺮ,چهاردانگه,صالح آباد,گلستان,ﻧﺴﻴﻢ ﺷﻬﺮ,ﭘﺎﻛﺪﺷﺖ,شریف آباد,فرون آباد,پیشوا,بومهن,پردیس,تهران,آبسرد,آﺑﻌﻠﻲ,دماوند,رودهن,گیلان,رباط کریم,نصیرشهر,ﺑﺎﻗﺮﺷﻬﺮ,حسن آباد,کهریزک,فشم,لواسان,اﻧﺪﻳﺸﻪ,باغستان,ﺷﺎﻫﺪﺷﻬﺮ,شهریار,ﺻﺒﺎﺷﻬﺮ,فردوسیه,وﺣﻴﺪﻳﻪ,ارﺟﻤﻨﺪ,فیروزکوه,قدس,صفادشت,ملارد,جوادآباد,ﻗﺮﭼﻚ,وراﻣﻴﻦ,ﺷﻬﺮﺟﺪﻳﺪﭘﺮﻧﺪ,ري,ﺷﻤﺸﻚ">تهران</option>
                                                <option value=",اردل,بروجن,بلداجی,سفیددشت,فرادنبه,گندمان,نقنه,بن,سامان,سودجان,سورشجان,شهرکرد,طاقانک,فرخ شهر,کیان,نافچ,هفشجان,وردنجان,باباحیدر,پردنجان,جونقان,فارسان,چلگرد,دستنا,شلمزار,گهرو,ناغان,آلونی,لردگان,مال خلیفه,منج,دشتک,سرخون,کاج,گوجان,چلیچه,صمصامی,بازفت">چهارمحال و بختیاری</option>
                                                <option value=",ارسک,بشرویه,بیرجند,خوسف,محمدشهر,اسدیه,طبس مسینا,قهستان,گزیک,آیسک,سرایان,سه قلعه,سربیشه,مود,اسلامیه,فردوس,اسفدن,آرین شهر,حاجی آباد,خضری دشت بیاض,زهان,ﻗﺎﻳﻦ,نیمبلوک,شوسف,نهبندان,دیهوک,طبس,عشق آباد">خراسان جنوبی</option>
                                                <option value=",باخرز,بجستان,یونسی,انابد,بردسکن,شهرآباد,شاندیز,طرقبه,تایباد,کاریز,مشهدریزه,فیروزه,همت آباد,احمد آباد صولت,تربت جام,صالح آباد,نصرآباد,نیل شهر,بایک,تربت حیدریه,رباط سنگ,کدکن,جغتای,نقاب,چناران,گلمکان,خلیل آباد,کندر,خواف,سلامی,سنگان,قاسم آباد,نشتیفان,سلطان آباد,ﭼﺎﭘﺸﻠﻮ,درﮔﺰ,لطف آباد,نوخندان,ﺟﻨﮕﻞ,رشتخوار,دولت آباد,داورزن,روداب,سبزوار,ششتمد,سرخس,مزدآوند,سفیدسنگ,فرهادگرد,فریمان,قلندرآباد,باجگیران,قوچان,ریواش,کاشمر,شهرزو,کلات,بیدخت,کاخک,گناباد,رضویه,مشهد,ﻣﺸﻬﺪ ﺛﺎﻣﻦ,ملک آباد,شادمهر,فیض آباد,بار,چنگه,خرو,درود,عشق آباد,قدمگاه,نیشابور">خراسان رضوی</option>
                                                <option value=",اسفراین,صفی آباد,بجنورد,حصار گرمخوان,راز ,جاجرم,سنخواست,شوقان,شوقان,ﻟﻮﺟﻠﻲ,ﺗﻴﺘﻜﺎﻧﻠﻮ,فاروج,ایور,درق,ﮔﺮﻣﻪ,آﺷﺨﺎﻧﻪ,ﭘﻴﺶ ﻗﻠﻌﻪ,ﻗﺎﺿﻲ">خراسان شمالی</option>
                                                <option value=",اﻣﻴﺪﻳﻪ,جایزان,ﻗﻠﻌﻪ ﺧﻮاﺟﻪ,اندیمشک,ﺣﺴﻴﻨﻴﻪ,اهواز,ﺣﻤﻴﺪﻳﻪ,ایذه,دهدز,اروندکنار,آبادان,چویبده,باغ ملک,صیدون,ﻗﻠﻌﻪ ﺗﻞ,میداود,شیبان,ملاثانی,وﻳﺲ,بندر امام خمینی,بندر ماهشهر,چمران,آغاجاری,بهبهان,سردشت,خرمشهر,مینوشهر,ﭼﻐﺎﻣﻴﺶ,حمزه,دزآب,دزفول,سالند,صفی آباد,میانرود,بستان,سوسنگرد,رامشیر,مشراگه,رامهرمز,دارﺧﻮﻳﻦ,شادگان,الوان,ﺣﺮ,شاوور,شوش,ﺻﺎﻟﺢ ﻣﺸﻄﺖ,شرافت,ﺷﻮﺷﺘﺮ,گوریه,ﺗﺮﻛﺎﻟﻜﻲ,ﺟﻨﺖ ﻣﻜﺎن,ﺳﻤﺎﻟﻪ,ﺻﺎﻟﺢ ﺷﻬﺮ,ﮔﺘﻮﻧﺪ,ﻻﻟﻲ,مسجد سلیمان,ﻫﻔﺘﮕﻞ,زهره,هندیجان,رﻓﻴﻊ,هویزه">خوزستان</option>
                                                <option value=",ابهر,ﺳﻠﻄﺎﻧﻴﻪ,ﺻﺎﻳﻴﻦ ﻗﻠﻌﻪ,هیدج,حلب,زرین آباد,زرین رود,سجاس,سهرورد,قیدار,گرماب,خرمدره,ارﻣﻐﺎﻧﺨﺎﻧﻪ,زنجان,آب ﺑﺮ,چورزق,دندی,ماه نشان">زنجان</option>
                                                <option value=",اﻣﻴﺮﻳﻪ,دامغان,دیباج,ﺳﺮﺧﻪ,سمنان,بسطام,بیارجمند,شاهرود,کلاته خیج,ﻣﺠﻦ,ﻣﻴﺎﻣﻲ,اﻳﻮاﻧﻜﻲ,آرادان,گرمسار,درﺟﺰﻳﻦ,شهمیرزاد,مهدی شهر">سمنان</option>
                                                <option value=",ایرانشهر,بزمان,بمپور,محمدان,چابهار,نگور,خاش,نوک آباد,گلمورتی,بنجار,زابل,زاهدان,میرجاوه,نصرت آباد,زهک,جالق,سراوان,سیرکان,گشت,محمدی,پیشین,راسک,سرباز,سوران,هیدوچ,زرآباد,کنارک,زاﺑﻠﻲ,اﺳﭙﻜﻪ,ﺑﻨﺖ,فنوج,ﻗﺼﺮﻗﻨﺪ,ﻧﻴﻚ ﺷﻬﺮ,ادﻳﻤﻲ,ﻋﻠﻲ اﻛﺒﺮ,محمد آباد,دوﺳﺖ ﻣﺤﻤﺪ">سیستان و بلوچستان</option>
                                                <option value=",ارسنجان,استهبان,ایج,روﻧﻴﺰ,اﻗﻠﻴﺪ,حسن آباد,دژکده,سده,ایزدخواست,آباده,ﺑﻬﻤﻦ,سورمق,صغاد,بوانات,ﺣﺴﺎﻣﻲ,کره ای,سعادت شهر,باب انار,جهرم,خاوران,دوزه ,قطب آباد,خرامه,ﺻﻔﺎﺷﻬﺮ,قادرآباد,ﺧﻨﺞ,ﺟﻨﺖ ﺷﻬﺮ,داراب,دوﺑﺮﺟﻲ,فدامی,مصیری,حاجی آباد,دبیران,ﺷﻬﺮﭘﻴﺮ,اردکان,ﺑﻴﻀﺎ,ﻫﻤﺎﺷﻬﺮ,سروستان,کوهنجان,خاله زنیان,داریان,زرقان,شهرصدرا,شیراز,ﻟﭙﻮﻳﻲ,دهرم,فراشبند,ﻧﻮﺟﻴﻦ,زاﻫﺪﺷﻬﺮ,ششده,ﻓﺴﺎ,نوبندگان,فیروزآباد,ﻣﻴﻤﻨﺪ,افزر,امام شهر,قیر,کارزین,مبارک آباددیز,بالاده,ﺧﺸﺖ,ﻗﺎﻳﻤﻴﻪ,کازرون,کنار تخته,نودان,کوار,گراش,اوز,بنارویه,بیرم,جویم,خور,عمادده,ﻻر,ﻟﻄﻴﻔﻲ,اشکنان,اﻫﻞ,علامرودشت,لامرد,رامجرد,سیدان,کامفیروز,مرودشت,ﺧﻮﻣﻪ زار,نورآباد,اﺳﻴﺮ,ﮔﻠﻪ دار,ﻣﻬﺮ,وراوي,آباده طشک,قطرویه,مشکان,ﻧﻲ رﻳﺰ">فارس</option>
                                                <option value=",الوند,بیدستان,ﺷﺮﻳﻔﻴﻪ ,ﻣﺤﻤﺪﻳﻪ ,آﺑﻴﻚ ,ﺧﺎﻛﻌﻠﻲ,ارداق ,آبگرم,آوج ,بویین زهرا,دانسفهان,سگزآباد,شال,اسفرورین,تاکستان,ﺧﺮﻣﺪﺷﺖ,ضیاءآباد,ﻧﺮﺟﻪ,اﻗﺒﺎﻟﻴﻪ,رازمیان,سیردان,قزوین,ﻛﻮﻫﻴﻦ,محمودآبادنمونه,ﻣﻌﻠﻢ ﻛﻼﻳﻪ">قزوین</option>
                                                <option value=",ﺟﻌﻔﺮﻳﻪ,دستجرد,سلفچگان,ﻗﻢ,قنوات,ﻛﻬﻚ">قم</option>
                                                <option value=",آرمرده,ﺑﺎﻧﻪ,ﺑﻮﻳﻴﻦ ﺳﻔﻠﻲ,ﻛﺎﻧﻲ ﺳﻮر,بابارشانی,بیجار,ﻳﺎﺳﻮﻛﻨﺪ,بلبلان آباد,دهگلان,دیوان دره,زرﻳﻨﻪ,سروآباد,ﺳﻘﺰ,ﺻﺎﺣﺐ,سنندج,ﺷﻮﻳﺸﻪ,دزج ,دلبران,سریش آباد,قروه,کامیاران,ﻣﻮﭼﺶ,چناره,کانی دینار,مریوان">کردستان</option>
                                                <option value=",ارزوﻳﻴﻪ,اﻣﻴﻦ ﺷﻬﺮ,اﻧﺎر,ﺑﺎﻓﺖ,ﺑزنجان,بردسیر,گلزار,ﻻﻟﻪ زار,نگار,براوات,ﺑﻢ,جبالبارز,ﺟﻴﺮﻓﺖ,درب ﺑﻬﺸﺖ,راﺑﺮ,راور ,هجدک,بهرمان,رفسنجان,ﺻﻔﺎﻳﻴﻪ,ﻛﺸﻜﻮﻳﻴﻪ,ﻣﺲ ﺳﺮﭼﺸﻤﻪ,رودبار ,محمدآباد,خانوک,ریحان,زرﻧﺪ,یزدان شهر,پاریز,زیدآباد,سیرجان,ﻧﺠﻒ ﺷﻬﺮ,ﻫﻤﺎ ﺷﻬﺮ,جوزم,خاتون آباد,خورسند,دهج,ﺷﻬﺮﺑﺎﺑﻚ,دوساری,عنبرآباد,مردهک,فاریاب,فهرج,قلعه گنج,اختیارآباد,اندوهجرد,باغین,جوپار,چترود,راﻳﻦ,زنگی آباد,شهداد,کاظم آباد,کرمان,گلباف,ماهان,محی آباد,کهنوج,کوهبنان,ﻛﻴﺎﻧﺸﻬﺮ,منوجان,نودژ,ﻧﺮﻣﺎﺷﻴﺮ,نظام شهر">کرمان</option>
                                                <option value=",اسلام آباد غرب,ﺣﻤﻴﻞ,باینگان,پاوه,نودشه,نوسود,ازﮔﻠﻪ,تازه آباد,جوانرود,ﻛﺮﻧﺪ,گهوار,رواﻧﺴﺮ,ﺷﺎﻫﻮ,سرپل ذهاب,ﺳﻄﺮ,ﺳﻨﻘﺮ,ﺻﺤﻨﻪ,میان راهان,سومار,ﻗﺼﺮﺷﻴﺮﻳﻦ,رباط,کرمانشاه,کوزران,هلشی,کنگاور,ﺳﺮﻣﺴﺖ,گیلانغرب,بیستون,ﻫﺮﺳﻴﻦ">کرمانشاه</option>
                                                <option value=",ﺑﺎﺷﺖ,ﻟﻴﻜﻚ,گراب سلفی,مادوان,مارگون,یاسوج,چرام,پاتاوه,چیتاب,سی سخت,دهدشت,دیشموک,سوق,قلعه رییسی,لنده,دوگنبدان">کهگیلویه و بویراحمد</option>
                                                <option value=",آزادﺷﻬﺮ,ﻧﮕﻴﻦ ﺷﻬﺮ,نوده خاندوز,انبارآلوم,آق ﻗﻼ,بندرگز,نوکنده,بندرترکمن,خان ببین,دلند,رامیان,علی آباد,فاضل آباد,کردکوی,ﻛﻼﻟﻪ,ﮔﺎﻟﻴﻜﺶ ,ﺟﻠﻴﻦ,ﺳﺮﺧﻨﻜﻼﺗﻪ,گرگان,ﺳﻴﻤﻴﻦ ﺷﻬﺮ,ﮔﻤﻴﺶ ﺗﭙﻪ,اﻳﻨﭽﻪ ﺑﺮون,گنبدکاووس,مراوه ,مینودشت ">گلستان</option>
                                                <option value=",اﻣﻠﺶ,رانکوه,آستارا,لوندویل ,آﺳﺘﺎﻧﻪ اﺷﺮﻓﻴﻪ,ﻛﻴﺎﺷﻬﺮ,بندر انزلی,اﺳﺎﻟﻢ,ﺗﺎﻟﺶ,ﭼﻮﺑﺮ,ﺣﻮﻳﻖ,لیسار,خشکبیجار,خمام,رﺷﺖ,ﺳﻨﮕﺮ,کوچصفهان ,ﻟﺸﺖ ﻧﺸﺎ,لولمان ,پره سر,رضوانشهر,بره سر,ﺗﻮﺗﻜﺎﺑﻦ,جیرنده,رﺳﺘﻢ آباد,رودبار,لوشان,ﻣﻨﺠﻴﻞ,ﭼﺎﺑﻜﺴﺮ,رﺣﻴﻢ آﺑﺎد,رودﺳﺮ,کلاچای,واجرگاه,دیلمان,ﺳﻴﺎﻫﻜﻞ,احمدسرگوراب,ﺷﻔﺖ,ﺻﻮﻣﻌﻪ ﺳﺮا,گراب زرمیخ,ﻣﺮﺟﻘﻞ,ﻓﻮﻣﻦ,ﻣﺎﺳﻮﻟﻪ,رودﺑﻨﻪ,لاهیجان,اطاقور,چاف و چمخاله,شلمان,ﻛﻮﻣﻠﻪ,لنگرود,بازارجمعه ,ماسال">گیلان</option>
                                                <option value=",ازﻧﺎ,مومن آباد,الیگودرز,شول آباد,اشترینان,بروجرد ,ﭘﻠﺪﺧﺘﺮ,معمولان ,چغلوندی,خرم آباد,زاﻏﻪ,سپیددشت,نور آباد,ﻫﻔﺖ ﭼﺸﻤﻪ,سراب دوره,ویسیان,چالان چولان,دورود,اﻟﺸﺘﺮ,فیروزآباد,ﭼﻘﺎﺑﻞ,درب ﮔﻨﺒﺪ,کونانی,ﻛﻮﻫﺪﺷﺖ,گراب">لرستان</option>
                                                <option value=",آﻣﻞ,داﺑﻮدﺷﺖ,رﻳﻨﻪ,ﮔﺰﻧﻚ,اﻣﻴﺮﻛﻼ,ﺑﺎﺑﻞ,خوش رودپی,زرﮔﺮﻣﺤﻠﻪ,گتاب,گلوگاه,مرزیکلا,ﺑﺎﺑﻠﺴﺮ,ﺑﻬﻨﻤﻴﺮ,ﻛﻠﻪ ﺑﺴﺖ">مازندران</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label >شهرستان</label>
                                            @* <input type="text" asp-for="City" style="display: none;"> *@
                                            <select asp-for="City" class="form-control" style="width: 100%;" ></select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام لاتین</label>
                                            <input required type="text" class="form-control" asp-for="Name_en" placeholder="نام">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputEmail4">نام خانوادگی لاتین</label>
                                            <input required type="text" class="form-control" asp-for="Family_en"
                                                placeholder="نام خانوادگی">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label for="inputPassword4">نام پدر لاتین</label>
                                            <input required type="text" class="form-control" asp-for="FatherName_en" 
                                                placeholder="نام پدر">
                                        </div> 
                                         </div>
                                         
                                     
                                    <button type="submit" class="btn btn-primary  mt-3">ثبت</button>
                                }
                                else
                                {

                                }
                                <p class="alert alert-danger mt-2 text-center">برای ویرایش فایل های اپلود شده به بخش آپلود مدارک مراجعه فرمایید.</p>   

                                 <div class="form-row mt-4">    
                                       @if (item.nationalcard_image1 !=null)
                               {
                                          <div class="form-group col-md-3">
                                            <label for="inputPassword4"> تصویر کارت ملی</label>
                                           <a href="/fileupload/@item.nationalcard_image1" download="/fileupload/@item.nationalcard_image1" > 
                                           <img src="/fileupload/@item.nationalcard_image1" alt="..." class="img-thumbnail">
                                           </a> 
                                           </div>
                             
    
                               }
                                         @if (item.nationalcard_image2 !=null)
                               {
                                          <div class="form-group col-md-3">
                                            <label for="inputPassword4"> تصویر پشت کارت ملی</label>
                                          <a href="/fileupload/@item.nationalcard_image2" download="/fileupload/@item.nationalcard_image2" > 
                                           <img src="/fileupload/@item.nationalcard_image2" alt="..." class="img-thumbnail">
                                           </a> 
                                           </div>
                             
    
                               }
                                         @if (item.certificate_image !=null)
                               {
                                          <div class="form-group col-md-3">
                                            <label for="inputPassword4"> تصویر شناسنامه</label>
                                           <a href="/fileupload/@item.certificate_image" download="/fileupload/@item.certificate_image" > 
                                           <img src="/fileupload/@item.certificate_image" alt="..." class="img-thumbnail">
                                           </a> 
                                           </div>
                             
    
                               }
                               @* /// *@
                                          @if (item.newspaper_image !=null)
                               {
                                          <div class="form-group col-md-3">
                                            <label for="inputPassword4">تصویر آخرین روزنامه رسمی</label>
                                          <a href="/fileupload/@item.newspaper_image" download="/fileupload/@item.newspaper_image" > 
                                           <img src="/fileupload/@item.newspaper_image" alt="..." class="img-thumbnail">
                                           </a> 
                                           </div>
                             
    
                               }

                                          @if (item.statute_image !=null)
                               {
                                          <div class="form-group col-md-3">
                                            <label for="inputPassword4">تصویر صفحات اساسنامه</label>
                                           <a href="/fileupload/@item.statute_image" download="/fileupload/@item.statute_image" > 
                                           <img src="/fileupload/@item.statute_image" alt="..." class="img-thumbnail">
                                           </a> 
                                           </div>
                             
    
                               }
                               
                                          @if (item.establishment_image !=null)
                               {
                                          <div class="form-group col-md-3">
                                            <label for="inputPassword4">تصویر آگهی تاسیس</label>
                                           <a href="/fileupload/@item.establishment_image" download="/fileupload/@item.establishment_image" > 
                                           <img src="/fileupload/@item.establishment_image" alt="..." class="img-thumbnail">
                                           </a> 
                                           </div>
                             
    
                               }
                               </div> 
                            }
                        }
                        <a href="/home/users" class="btn btn-success  mt-3 " style="width: min-content;">
                            بازگشت
                        </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



<script> 
 function Func1(Shahrestanha) {
//////ostan
        var vSkill = document.getElementById('ostan');
        var vSkillText = vSkill.options[vSkill.selectedIndex].innerHTML;
        document.getElementById('State').value=vSkillText;
//////////
       var _Shahrestan = document.getElementById("City");
       _Shahrestan.options.length = 0;
       if(Shahrestanha != "") {
          var arr = Shahrestanha.split(",");
          for(i = 0; i < arr.length; i++) {
              if(arr[i] != "") {
                 _Shahrestan.options[_Shahrestan.options.length]=new Option(arr[i],arr[i]);
              }
          }
       }
   }
</script>
<!-- Custom JS Script -->
<script type="text/javascript">
    $(window).load(function() {
        // Animate loader off screen
        $(".loader").fadeOut("slow");;
    });
</script>



