@{
    ViewData["Title"] = "ثبت کاربر جدید";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <h1>محتوا</h1>
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">ثبت کاربر جدید</li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <a href="/Account/Irani_Hagigi">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <div>
                                    <p class="lead text-white">ایرانی حقیقی</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <i class="iconsminds-add-user text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="/Account/Irani_Hogogi">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <div>
                                    <p class="lead text-white">ایرانی حقوقی</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <i class="iconsminds-add-user text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @* <div class="col-lg-3">
                <a href="/Account/Khareji_Hagigi">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <div>
                                    <p class="lead text-white">اتباع حقیقی</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <i class="iconsminds-add-user text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <a href="/Account/khareji_Hogogi">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <div>
                                    <p class="lead text-white">اتباع حقوقی</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <i class="iconsminds-add-user text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> *@
        </div>


    </div>
</main>