@{
    ViewData["Title"] = "ثبت کاربر جدید";
}
@model ViewModelLayer.Portal.Vm_User;

<main>
    <div class="container">
        <div class="row">
            <div class="col-12">

                
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"> تغییر رمز عبور </li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>
            </div>
        </div>
        @if (ViewBag.massage != null)
        {
            <p class="alert alert-danger">
                @ViewBag.massage
            </p>
        }
        @if (ViewBag.massage1 != null)
        {
            <p class="alert alert-success">
                @ViewBag.massage1
            </p>
        }
        <div class="row">
            <div class="container">
                <div class="container  card mb-4">
                    <div class="card-body ">
                        <h5 class="mb-4 text-danger">پر کرد ن تمامی فیلد ها اجباری میباشد</h5>
                        <Form method="POST" action="/home/Forgotpassword" enctype="multipart/form-data">

                            <div class=" col-lg-9">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">رمز قبلی </label>
                                    <input required type="text" class="form-control" asp-for="Code"
                                        placeholder="رمز قبلی را وارد نمایید">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">رمز جدید</label>
                                    <input required type="text" class="form-control" asp-for="Password"
                                        placeholder="رمز جدید ">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">تکرار رمز جدید</label>
                                    <input required type="text" class="form-control" asp-for="RCode"
                                        placeholder="تکرار رمز جدید">
                                </div>
                                <div class="offset-1"> 
                                    <a href="/Admin/home/Index" class="btn btn-success  mt-3 "
                                        style="width: min-content;">
                                        بازگشت
                                    </a>
                                    <button type="submit" class="btn btn-primary  mt-3">ثبت</button>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
