<div class="col-md-12 mt-5 pt-5 text-center justify-content-center">
    <div class="card mt-5 ">
        <div class="card-body p-5">

            <div class="dashboard-quick-post">
                <h4>برای دانلود روی عکس زیر کلیک کنید</h4>
                <a href="~/Documents/Documents.zip" download>
                    <img src="~/img/notifications/download link.png" alt="download">
                </a>
            </div>
        </div>
    </div>
</div>