@{
    ViewData["Title"] = "بخش کاربران";
}
@model ViewModelLayer.Portal.VM_Support;
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">پشتیبانی</li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="position-absolute card-top-buttons">
                        <button class="btn btn-header-light icon-button" type="button">
                            <i class="simple-icon-refresh"></i>
                        </button>
                    </div>

                    <div class="card-body">
                        <div class="dashboard-quick-post">
                          @if (ViewBag.msg!=  null)
                               { <div class="alert alert-dark rounded mb-0" role="alert">
                                   @ViewBag.msg</div>
                               }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>



