@{
    ViewData["Title"] = "بخش کاربران";
}

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                
                <nav class="breadcrumb-container d-none d-sm-block d-lg-inline-block" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item">
                            <a href="#">صفحه اصلی</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">کاربران</li>
                    </ol>
                </nav>
                <div class="separator mb-5"></div>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <a href="/Account/NewAccount">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <div>
                                    <p class="lead text-white">ثبت کاربر جدید</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <i class="iconsminds-add-user text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/Account/SearchToUpload">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <div>
                                    <p class="lead text-white">آپلود مدارک کاربر</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <i class="iconsminds-male-2 text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/Account/Account">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <div>
                                    <p class="lead text-white">کاربران ثبت شده</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <i class="pr-2 iconsminds-mens text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            @* <div class="col-lg-3">
                <a href="/Account/EditAccount">
                    <div class="card mb-4 progress-banner">
                        <div class="card-body justify-content-between d-flex flex-row align-items-center">
                            <div>
                                <div>
                                    <p class="lead text-white">ویرایش کاربر</p>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <i class="iconsminds-male text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div> *@
        </div>


    </div>
</main>