<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/footer/fonts/icomoon/style.css">


    
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/footer/css/style1.css">

  </head>
  <body>

    
    <footer class="footer-95942">
      
        <div class="container shadow-sm col-12 bg-white ">
          <div class="row justify-content-center pt-4">
            <div class="col-md-8">
              <div class="row">
                <div class="col-sm-6 col-md mb-4 mb-md-0 mt-4">
                  <ul class="list-unstyled nav-links">
                    <li> <a href=""> نیکاتک با در اختیار داشتن تیم مدیریتی و کارشناسان خبره، متعهد، دانشمند و آگاه به نیاز جامعه و بهره گیری از تکنولوژی های روز دنیا

توانسته است در مدت زمان اندکی بزرگترین مرکز کارآفرینی و اشتغال را راه اندازی نمایید .</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md mb-4 mb-md-0">
                  <h3>درباره ما</h3>
                  <ul class="list-unstyled nav-links">
                    <li><a href="#">شماره تماس</a></li>
                    <li><a href="#">ادرس</a></li>
                    <li><a href="#">ارتباط باما</a></li>
                  </ul>
                </div>
                <div class="col-sm-6 col-md mb-4 mb-md-0">
                  <h3>خدمات</h3>
                  <ul class="list-unstyled nav-links">
                    <li><a href="#">بانکداری باز</a></li>
                    <li><a href="#">بیمه</a></li>
                    <li><a href="#"> posدستگاه</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row py-3">
            <div class="col-md-12 pb-3">
              <div class="border-top">
                
              </div>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-md-4">
              <ul class="list-unstyled social mb-0 pb-0 nav-left">
                <li><a href="#"><span class="icon-twitter"></span></a></li>
                <li><a href="#"><span class="icon-facebook"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </footer>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>